.hide {
    display: none;
}

.container {
    width: 400px;
    margin: 50px auto;
    border: 2px double black;
    border-radius: 15px;
    padding: 20px;
    background-color: darkslategrey;
    color: whitesmoke;
    box-sizing: border-box;
    min-height: 300px;
    position: relative;
}

.text-center {
    text-align: center;
}

.marginAuto {
    margin: 0 auto;
}

.marginTop {
    margin-top: 20px;
}

.timerarea {
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    color: whitesmoke;
}

#timer {
    font-size: 48px;
}

#submit {
    height: 45px;
}

.btn-primary {
    margin: 10px;
    padding: 5px 35px !important;
    border-radius: 10px;
    width: 250px;
    height: 65px;
    box-sizing: border-box;
}